code {
  color: coral;
}

footer > p:last-of-type {
  display: none;
}

pre > code,
pre > code > span {
  font-size: 14px;
}

blockquote {
  border-left: 5px solid lightblue;
  padding-left: 8px;
  margin-left: 5px;
}
